Repository Lodin/react-lazyx: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:src -- --fix, yarn run lint:spec -- --fix, eslint --fix

build(config): add tsx parsing to webpack
  config/webpack.dev.js
  config/webpack.prod.js
Due: eslint --fix

fix(connectors): make TransformersProp type exported
  src/connectors/connectDynamically.tsx
Due: yarn run lint:src -- --fix

build(webpack): update umd package name
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
Due: eslint --fix

build: add module and jsnext:main parameters to package.json
  package.json
Due: none

build: change project keywords
  package.json
Due: none

build: add typings index file
  package.json
Due: none

build: uncomment prepublish script
  package.json
Due: none

style(components): move public method above protected ones
  src/components/ConnectImpl.tsx
Due: yarn run lint:src -- --fix

refactor(connectors): improve typings
  src/connectors/connect.tsx
  src/connectors/connectDynamically.tsx
Due: yarn run lint:src -- --fix

refactor(connectors): improve "propTypes" for "connectDynamically" function
  src/connectors/connectDynamically.tsx
  src/utils/propTypes.ts
Due: yarn run lint:src -- --fix

build(publish): add unnecessary files to .npmignore
  .npmignore
Due: none

docs: improve documentation
  README.md
Due: none

ci: add installing peer dependencies before tests
  .travis.yml
Due: none

ci: add test coverage
  .travis.yml
Due: none

build(dependencies): add registry version of "tslint-config-poetez" instead of github version
  package.json
  yarn.lock
Due: none

fix: add "connect" and "connectDynamically" to index export.
  src/index.ts
Due: yarn run lint:src -- --fix

build: version 0.1.1
  package.json
Due: none

Path conditions:
  yarn run lint:src -- --fix: any of: src/**/*.{ts,tsx}
  yarn run lint:spec -- --fix: any of: spec/**/*.{ts,tsx}
  eslint --fix: any of: config/**/*.js
