Repository Lodin/react-lazyx: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint -- --fix, eslint --fix

build(package.json): remove "private" mark
  package.json
Due: none

docs: add readme
  README.md
Due: none

build: add license
  LICENSE
Due: none

build: update project to latest boilerplate
  .lintstagedrc
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
  tsconfig.json
  tsconfig.tslint.json
  yarn.lock
Due: eslint --fix

build(dependencies): add main react dependencies
  package.json
  yarn.lock
Due: none

build(tslint): disable "export-name", "no-any", "no-invalid-this" and "no-unsafe-any" rules
  tslint.json
Due: none

feat(components): add Provider component
  src/components/Provider.tsx
  src/index.ts
  src/utils/propTypes.ts
Due: npm run lint -- --fix

refactor(components): move StoreContext out of Provider module
  src/components/Provider.tsx
  src/utils/types.d.ts
Due: npm run lint -- --fix

build(tslint): disable "one-variable-per-declaration" rule for loops
  tslint.json
Due: none

feat(connectors): implement "connect" function
  src/connectors/connect.tsx
Due: none

docs: update docs to last changes
  README.md
Due: none

refactor(components): update components to changed Lazyx API
  src/components/Provider.tsx
  src/connectors/connect.tsx
  src/utils/types.d.ts
Due: npm run lint -- --fix

refactor(components): small improvements in "connect" function
  src/connectors/connect.tsx
Due: none

refactor(components): move shareable functions and types out of "connect" module
  src/connectors/connect.tsx
  src/utils/keysAndValues.ts
  src/utils/mapCombinedValues.ts
  src/utils/types.d.ts
Due: npm run lint -- --fix

fix(components): check mapTransformersToProps to be undefined
  src/connectors/connect.tsx
Due: none

feat(components): add "connectDynamically" function
  src/connectors/connectDynamically.tsx
Due: none

docs: rename function "associate" to "connectDynamically"
  README.md
Due: none

build(dependencies): add rxjs
  package.json
  yarn.lock
Due: none

refactor(connectors): move common "connect" and "connectDynamically" actions to ConnectImpl class.
  src/components/ConnectImpl.tsx
  src/connectors/connect.tsx
  src/connectors/connectDynamically.tsx
  src/utils/keysAndValues.ts
  src/utils/mapCombinedValues.ts
  src/utils/types.d.ts
Due: npm run lint -- --fix

build(config): remove "isolatedModules" from test parser configuration
  config/test/parser.js
Due: eslint --fix

build(config): add watching and parsing tsx files to nodemon, tsconfig, jasmine, nyc and tslint configuration
  .nycrc
  jasmine.json
  package.json
  tsconfig.json
  tsconfig.tslint.json
Due: none

build(dependencies): add packages for react testing
  package.json
  yarn.lock
Due: none

build(jasmine): add jsdom auto-loading for react testing
  jasmine.json
Due: none

refactor(components): make Provider component createable with function to simplify specifying NODE_ENV
  src/components/Provider.tsx
Due: none

test(components): add tests for Provider component
  spec/components/Provider.spec.tsx
Due: none

feat(connectors): add "displayName" for "connect" and "connectDynamically"
  src/connectors/connect.tsx
  src/connectors/connectDynamically.tsx
Due: none

build(config): fix searching ts and tsx files for tslint, tsconfig and lint-staged
  .lintstagedrc
  package.json
  tsconfig.json
  tsconfig.tslint.json
Due: none

fix: fix typing errors
  src/components/ConnectImpl.tsx
  src/connectors/connect.tsx
  src/connectors/connectDynamically.tsx
Due: none

docs: fix typings
  README.md
Due: none

style(components): rename "Wrappee" to "WrapperComponent"
  src/components/ConnectImpl.tsx
Due: none

refactor: improve typings
  src/components/ConnectImpl.tsx
  src/components/Provider.tsx
  src/connectors/connect.tsx
  src/connectors/connectDynamically.tsx
  src/utils/types.d.ts
Due: npm run lint -- --fix

build(dependencies): add lazyx release as dependency
  package.json
Due: none

build: update yarn.lock
  yarn.lock
Due: none

test(connectors): add tests for "connect" function
  spec/connectors/connect.spec.tsx
Due: none

test: unite spy creation and "and" directives
  spec/components/Provider.spec.tsx
  spec/connectors/connect.spec.tsx
Due: none

fix: remove "transformers" prop from the all props being sent to the WrappedComponent
  src/components/ConnectImpl.tsx
  src/connectors/connect.tsx
  src/connectors/connectDynamically.tsx
  src/utils/types.d.ts
Due: npm run lint -- --fix

test(connectors): add tests for connectDynamically
  spec/connectors/connectDynamically.spec.tsx
Due: none

style(connectors): improve test description for "connect" spec
  spec/connectors/connect.spec.tsx
Due: none

fix(components): make "renderImpl" method of "ConnectImpl" component protected
  src/components/ConnectImpl.tsx
Due: none

ci: add node 8
  .travis.yml
Due: none

Path conditions:
  npm run lint -- --fix: any of: src/**/*.ts
  eslint --fix: any of: config/**/*.js
